
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Sono&display=swap');

.textForm {
  background-color: #101118; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.Form{
  border-radius: 50px;
  background: #5c21b5;
  box-shadow: inset 29px 29px 58px #451988,inset -29px -29px 58px #7329e2;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  color: #f43b47;
  align-items: center;
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.textForm h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Jura', sans-serif;
  letter-spacing: 1px;
  text-shadow: #CCC 1px 0 10px; 
}
.Form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Jura', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: #CCC 1px 0 10px; 
}

.Form input{
  width: 100%;
  padding: 10px;
  border: 1px   #ffffff9d;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  font-family: 'Jura', sans-serif;
  letter-spacing: 1px;
  box-shadow: -1px -1px 15px #fcfcfc, 1px 1px 15px #ffffff, inset 1px 1px 10px #f8f8f8, inset -1px -1px 10px #d8d8d8;
}
.Form input:focus{
  outline: none;
}
.label1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  margin-top: 1rem;
}
.label2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  margin-top: 1rem;
}

.buttonForm {
  margin-top: 2rem;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #5c21b5;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 15px #fcfcfc, 2px 2px 15px #ffffff, inset 2px 2px 10px #f8f8f8, inset -2px -2px 10px #d8d8d8;
  font-family: 'Jura', sans-serif;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: 500ms;
  cursor: pointer;
  text-shadow: #CCC 1px 0 10px;
}

.buttonForm:hover {
  box-shadow: -2px -2px 15px #ff0080, 2px 2px 15px #ff0080, inset 2px 2px 10px #ff0080, inset -2px -2px 10px #ff0080;
  color: #001244;
  transition: 500ms;
}
.card {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgba(85, 85, 85, 0.11);
  max-width: 85vw;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  font-weight: 600;
  height: auto;
}

.title-text {
  margin-left: 0.5rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text p{
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  margin: 3px;
}

.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.data p {
  color: #ffffff;
  font-size:1rem;
  text-align: center;
  padding: 0;
  text-align: right;
}

a:-webkit-any-link{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}
.CryptoListContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-color: #101118; 
  text-align: center;
  max-height: auto;
}
.CryptoListContainer h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Jura', sans-serif;
  letter-spacing: 1px;
  text-shadow: #CCC 1px 0 10px; 
}
.Percent{
padding-bottom: 1.5rem;
}               
.negative{
  color: #ff0000;
  margin-left: 0.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.rotate-180 {
  transform: rotate(180deg);
}
.options{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}

.input {
  background-color: #101118; 
  max-width: 190px;
  height: 20px;
  padding: 10px;
  text-align: center; 
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.input:focus {
  color: rgb(255, 255, 255);
  background-color: #101118; 
  outline-color: rgb(255, 255, 255);
  box-shadow: -3px -3px 15px rgb(255, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.Order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #101118; 
  text-align: center;
  max-height: auto;
  margin-top: 2rem;
  padding: 0.1rem;
  border-color: #CCC;
  font-size: 18px;
  color: #CCC;
  font-family: 'Dosis', sans-serif;
  border: 2px solid white;
  border-radius: 5px;
}

.Order option {
  background-color: #101118; 
  max-width: 190px;
  height: 20px;
  padding: 10px;
  text-align: center; 
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


