
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Sono&display=swap');




.textForm {
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}
.card {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgba(85, 85, 85, 0.11);
  max-width: 85vw;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  font-weight: 600;
  height: auto;
}

.title-text {
  margin-left: 0.5rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text p{
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  margin: 3px;
}

.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.data p {
  color: #ffffff;
  font-size:1rem;
  text-align: center;
  padding: 0;
  text-align: right;
}

a:-webkit-any-link{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}
.CryptoListContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-color: #101118; 
  text-align: center;
  max-height: auto;
}
.CryptoListContainer h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Jura', sans-serif;
  letter-spacing: 1px;
  text-shadow: #CCC 1px 0 10px; 
}
.Percent{
padding-bottom: 1.5rem;
}               
.negative{
  color: #ff0000;
  margin-left: 0.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.rotate-180 {
  transform: rotate(180deg);
}
.options{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}

.input {
  background-color: #101118; 
  max-width: 190px;
  height: 20px;
  padding: 10px;
  text-align: center; 
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.input:focus {
  color: rgb(255, 255, 255);
  background-color: #101118; 
  outline-color: rgb(255, 255, 255);
  box-shadow: -3px -3px 15px rgb(255, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.Order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #101118; 
  text-align: center;
  max-height: auto;
  margin-top: 2rem;
  padding: 0.1rem;
  border-color: #CCC;
  font-size: 18px;
  color: #CCC;
  font-family: 'Dosis', sans-serif;
  border: 2px solid white;
  border-radius: 5px;
}

.Order option {
  background-color: #101118; 
  max-width: 190px;
  height: 20px;
  padding: 10px;
  text-align: center; 
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


